@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
      font-family: 'Inter', serif;
      background: rgb(43, 43, 43);
      background: black;
      color: rgb(230, 230, 230);
      width: 400px;
      line-height: 1.5;
      margin: 0 auto;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
    line-height: 1;
    border-left: 2px solid grey;
    padding-inline-start: 1rem;
  }
  h1 {
    font-size: 2em;

  }
  ::selection,
  mark {
      background: white;
      color: black;
  }

  pre::before {
      content: "code";
      font-size: 0.8em;
      display: block;
      opacity: 0.3;
  }

  pre {
      padding: 15px;
      background: #ffffff10;
      border-radius: 15px;
      margin-block: 2rem;
  }

  p,
  li {
      color: grey;
  }

  .token.f {
      color: orange;
  }

  .token.kw {
      color: brown;
  }