@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body
{
    --italic-color: var(--text-muted);
    --text-good: color-mix(in srgb, var(--text-faint) 25%, transparent);
    --link-decoration: none;
    --nav-item-background-active: var(--color-accent);
    --nav-item-color-active: var(--text-on-accent);
    --nav-item-icon-color: var(--text-faint);
    --nav-item-icon-color-active: var(--nav-item-color-active);
    --link-color: var(--color-blue);
    --link-color-hover: color-mix(in srgb, white 50%, var(--link-color));
    --link-color-hover: var(--link-color);
    --link-external-color: var(--color-green);
    --link-external-decoration: none;
    --h1-size: 3rem;
    --font-monospace: "Jetbrains Mono";
    --file-line-width: 500px;
    --color-accent-3: color-mix(in srgb, white 50%, var(--color-accent));
}
h1, h2, h3, h4, h6, h5
{
    border-bottom: 2px solid var(--text-good);
    padding-block-end: 1rem;
}
::selection
{
    color: var(--color-accent)
}
a:focus
{
    outline: 2px solid;
    outline-offset: 5px;
    border-radius: 25px;
}
.tree-item-self.nav-folder-title::after {
	display: block;
	content: " ";
	height: .5em;
	width: .5em;
    border-radius: 50%;
    align-self: center;
    margin-left: auto;
    background-color: var(--color-accent-2);
}
.tree-item.is-collapsed .nav-folder-title::after
{
    background-color: var(--color-base-30);
}

.tree-item-self.nav-file-title::before {
	display: block;
	content: " ";
	height: 1em;
	width: 1em;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
    align-self: center;
    margin-right: .3em;
	background-color: var(--nav-item-icon-color);
	mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWZpbGUtaWNvbiBsdWNpZGUtZmlsZSI+PHBhdGggZD0iTTE1IDJINmEyIDIgMCAwIDAtMiAydjE2YTIgMiAwIDAgMCAyIDJoMTJhMiAyIDAgMCAwIDItMlY3WiIvPjxwYXRoIGQ9Ik0xNCAydjRhMiAyIDAgMCAwIDIgMmg0Ii8+PC9zdmc+");
}

.status-bar
{
    position: unset;
    width: 100%;
    border-radius: 0;
    justify-content: center;
    /* background-color: var(--color-accent-2); */
    /* color: var(--text-on-accent); */
}


/* @component - prompts */
.suggestion-item {
	--cursor: pointer;
}
body {
	--background-modifier-form-field-hover: transparent;
}

.suggestion-item {
	--cursor: pointer;
}

/* helper icons for prompts/commands */
.prompt:has(.prompt-input[placeholder*="find or create a note" i]) .suggestion-item::before {
	/* display: block; */
	content: "";
	height: 1em;
	width: 1em;
	/* scale: 0.9; */
	margin-right: 1em;
	align-self: center;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: var(--text-faint);
	mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNlYXJjaC1pY29uIGx1Y2lkZS1zZWFyY2giPjxwYXRoIGQ9Im0yMSAyMS00LjM0LTQuMzQiLz48Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4Ii8+PC9zdmc+");
}

.prompt:has(.prompt-input[placeholder*="command" i]) .suggestion-item::before {
	content: "";
	height: 1em;
	width: 1em;
	align-self: center;
	margin-right: 1em;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
    background-color: var(--text-faint);
	mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tcmlnaHQtaWNvbiBsdWNpZGUtY2hldnJvbi1yaWdodCI+PHBhdGggZD0ibTkgMTggNi02LTYtNiIvPjwvc3ZnPg==");
}

.suggestion-item.mod-complex .suggestion-highlight,
.suggestion-item .suggestion-highlight,
.suggestion-highlight {
	font-weight: 500;
	color: var(--suggestion-highlight)
}
body {
    --suggestion-highlight: var(--color-accent);
    --suggestion-item-normal-color: var(--text-muted);
    --suggestion-font-size: 0.8em;
    --suggestion-item-padding: .5em;
}

body {
    --prompt-icon-note: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNlYXJjaC1pY29uIGx1Y2lkZS1zZWFyY2giPjxwYXRoIGQ9Im0yMSAyMS00LjM0LTQuMzQiLz48Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4Ii8+PC9zdmc+");
    --prompt-icon-command: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tcmlnaHQtaWNvbiBsdWNpZGUtY2hldnJvbi1yaWdodCI+PHBhdGggZD0ibTkgMTggNi02LTYtNiIvPjwvc3ZnPg==");
    --prompt-icon-web: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWVhcnRoLWljb24gbHVjaWRlLWVhcnRoIj48cGF0aCBkPSJNMjEuNTQgMTVIMTdhMiAyIDAgMCAwLTIgMnY0LjU0Ii8+PHBhdGggZD0iTTcgMy4zNFY1YTMgMyAwIDAgMCAzIDNhMiAyIDAgMCAxIDIgMmMwIDEuMS45IDIgMiAyYTIgMiAwIDAgMCAyLTJjMC0xLjEuOS0yIDItMmgzLjE3Ii8+PHBhdGggZD0iTTExIDIxLjk1VjE4YTIgMiAwIDAgMC0yLTJhMiAyIDAgMCAxLTItMnYtMWEyIDIgMCAwIDAtMi0ySDIuMDUiLz48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjwvc3ZnPg==");
    --prompt-icon-default: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXRleHQtYWxpZ24tanVzdGlmeS1pY29uIGx1Y2lkZS10ZXh0LWFsaWduLWp1c3RpZnkiPjxwYXRoIGQ9Ik0zIDVoMTgiLz48cGF0aCBkPSJNMyAxMmgxOCIvPjxwYXRoIGQ9Ik0zIDE5aDE4Ii8+PC9zdmc+");
    --prompt-icon-extract: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNjaXNzb3JzLWljb24gbHVjaWRlLXNjaXNzb3JzIj48Y2lyY2xlIGN4PSI2IiBjeT0iNiIgcj0iMyIvPjxwYXRoIGQ9Ik04LjEyIDguMTIgMTIgMTIiLz48cGF0aCBkPSJNMjAgNCA4LjEyIDE1Ljg4Ii8+PGNpcmNsZSBjeD0iNiIgY3k9IjE4IiByPSIzIi8+PHBhdGggZD0iTTE0LjggMTQuOCAyMCAyMCIvPjwvc3ZnPg==");
    --prompt-icon-folder: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWZvbGRlci1pY29uIGx1Y2lkZS1mb2xkZXIiPjxwYXRoIGQ9Ik0yMCAyMGEyIDIgMCAwIDAgMi0yVjhhMiAyIDAgMCAwLTItMmgtNy45YTIgMiAwIDAgMS0xLjY5LS45TDkuNiAzLjlBMiAyIDAgMCAwIDcuOTMgM0g0YTIgMiAwIDAgMC0yIDJ2MTNhMiAyIDAgMCAwIDIgMloiLz48L3N2Zz4=");
}

/* helper icons for prompts/commands */
/* first we need to fix the padding on the input */
input.prompt-input {
    padding-inline-start: 0;
    padding: 0px;
	/* font-size: 2rem; */
	/* height: 2em; */
}

/* (*temproary) fix to align the prompt input icon and results together */
.prompt-input-container {
    padding-inline-start: 1em;
}

/* next we align the icons properly */

/* here we set the icon settings for the input bar: (.prompt-input-container) and result items: (.suggestion-item) */
.prompt:has(.prompt-input[placeholder]) .prompt-input-container::before,
.prompt:has(.prompt-input[placeholder]) .suggestion-item::before {
    content: " ";
    display: inline-block;
    height: 1em;
    width: 1em;
    align-self: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--suggestion-highlight);
    background-color: var(--text-faint);
}
/* (*temporary) editing the position of the input icon, and the results */
.prompt:has(.prompt-input[placeholder]) .prompt-input-container::before {
    margin-inline-end: 1rem;
}

.prompt:has(.prompt-input[placeholder]) .suggestion-item::before {
    margin-inline-start: 5px;
    margin-inline-end: 1em;
}

/* // @accessibility
// increase readability of commands and search results that contain
// a command title. where the default obsidian style is a single l ine,
// by separating the command prefix, with the command content, we
// increase accessibility */
.suggestion-prefix {
    /* display: block; */
    font-weight: 600;
}
.suggestion-prefix ~ span 
{
    color: var(--text-muted);
}
/* set the icons to each class */
.prompt:has(.prompt-input[placeholder]) .suggestion-item::before,
.prompt:has(.prompt-input[placeholder]) .prompt-input-container::before {
    mask-image: var(--prompt-icon-default);
}

.prompt:has(.prompt-input[placeholder*="web" i]) .suggestion-item::before,
.prompt:has(.prompt-input[placeholder*="web" i]) .prompt-input-container::before {
    mask-image: var(--prompt-icon-web);
}

.prompt:has(.prompt-input[placeholder*="folder" i]) .suggestion-item::before,
.prompt:has(.prompt-input[placeholder*="folder" i]) .prompt-input-container::before {
    mask-image: var(--prompt-icon-folder);
}

.prompt:has(.prompt-input[placeholder*="find or create a note" i]) .suggestion-item::before,
.prompt:has(.prompt-input[placeholder*="find or create a note" i]) .prompt-input-container::before {
    mask-image: var(--prompt-icon-note);
}

.prompt:has(.prompt-input[placeholder*="command" i]) .suggestion-item::before,
.prompt:has(.prompt-input[placeholder*="command" i]) .prompt-input-container::before {
    mask-image: var(--prompt-icon-command);
}

.prompt:has(.prompt-input[placeholder*="merge" i]) .suggestion-item::before,
.prompt:has(.prompt-input[placeholder*="merge" i]) .prompt-input-container::before {
    mask-image: var(--prompt-icon-extract);
}

/* hide prompt results if there's no text input */
.prompt:has(.prompt-input[placeholder*="find" i]):has(:placeholder-shown) .prompt-results,
.prompt:has(.prompt-input[placeholder*="find" i]):has(:placeholder-shown) .prompt-instructions {
    display: none;
}

.prompt:has(.prompt-input[placeholder*="find" i]):has(:placeholder-shown),
.prompt:has(.prompt-input[placeholder*="search" i]):has(:placeholder-shown) 
{
    /* border-radius: 50px; */
}

.prompt-input-container:has(:focus)
{
    /* outline: 7px solid var(--text-selection); */
    /* box-shadow: 0 0 0 2px var(--color-accent) */
}

.prompt-input-container {
    /* background-color: var(--background-modifier-hover); */
	display: flex;
	/* flex-direction: row-reverse; */
    margin: 15px;
    border-radius: inherit;
}

.prompt  .suggestion-item,
.modal .suggestion-item
{
	font-size: 0.8em;
}

.prompt input::placeholder
{
	color: var(--text-muted);
}



.popover::after
{
    bottom: 15px;
    right: 25px;
    position: absolute;
}
.popover:hover::after
{
    content: "Click to edit";
}
.popover.is-editing::after
{

    color: var(--color-accent-2);
    content: "Editing file";
}
button[aria-label*="current view: reading" i] svg,
button[aria-label*="current view: editing" i] svg {
    display: none;
}

button[aria-label*="current view: reading" i],
button[aria-label*="current view: editing" i] {
    margin: 5px;
    padding: 0;
}

button[aria-label*="current view: editing" i]::before {
    content: "Read";
    padding: 5px 10px;
    color: var(--text-muted);
    background-color: var(--color-base-30);
    border-radius: 10px;
}


button[aria-label*="current view: reading" i]::before {
    content: "Edit";
    padding: 5px 10px;
    color: var(--text-on-accent);
    background-color: var(--color-accent-2);
    border-radius: 10px;
}

/* .tree-item-inner.nav-folder-title-content::after
{
    content: "/";
} */

/* @font-face {
    font-family: "Jetbrains Mono";
    src: url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
    font-variant-ligatures: none;
} */

/* editor readability enhancements */
/* trying to change font while editing */
.workspace-leaf .markdown-source-view:not(.is-live-preview):has(.cm-active)
{
    --font-text: var(--font-monospace);
}
.cm-line
{
    /* transition: background-color .1s linear; */
}
.cm-line.cm-active, .cm-line:hover
{
    background-color: color-mix(in srgb, var(--text-selection) 40%, transparent);
    /* color: var(--color-accent) */
}
.cm-gutterElement.cm-active 
{
    color: var(--color-accent)
}
.cm-formatting
{
    color: var(--color-accent-2) !important;
}

.workspace-tab-header-inner,
.menu-item,
input[type=checkbox],
.collapse-indicator,
button,
.button,
.clickable-icon,
.is-clickable,
.horizontal-tab-nav-item,
.vertical-tab-nav-item,
select,
div[class*="button" i],
div.checkbox-container {
	--cursor: pointer;
	cursor: pointer;
}

body:not(.is-grabbing) .tree-item:has(.is-active), body:not(.is-grabbing) .tree-item:hover {
    color: var(--nav-item-color-hover);
    background-color: color-mix(in srgb, var(--text-selection) 15%, transparent);
}

body:not(.is-grabbing) .tree-item-self.is-active
{
    --nav-item-icon-color: var(--color-accent-3);
}